//Esto es un comentario de linea en SCSS
/*Esto es un comentario de bloque en CSS PURO*/

@import "animaciones";

$beige-claro:#fefae0;
$beige-oscuro:#d4a373;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Calibri', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "cabeza"
    "principal" 
    "pie";
    grid-template-rows: auto auto 120px;
    background-color: $beige-claro;
    width: 100%;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: $beige-oscuro;
}

.logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 10%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    &.imagen {
        width: 30%;
        height: auto;
        align-items: center;
    }
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

/*GRID AREAs*/

header {
    grid-area: cabeza;
}

nav {
    grid-area: menu;
}

main {
    grid-area: principal;
}

footer {
    grid-area: pie;
}

/*GRIDs*/

.gridImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridsubs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subsflex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

/*Propiedades del cuerpo*/

h2 {
    margin-top: 5px;
}

.centrado {
    text-align: center;
}

.con-cen {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

article {
    width: 100%;
    p {
        text-align: justify;
        margin: 0% 2% 10px 2%;
    }
}

.imgHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
        width: 15%;
        margin: 5px;
    }
}

div h2 {
    text-align: center;
}

.subs1 {
    width: 100%;
    display: inline-block;

}

.imgProd {
    width: 70%;
}

.justificado {
    text-align: justify;
}

form {
    div {
        margin-bottom: 10px;
    }
}

iframe {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/*Propiedades de video*/

.video-size {
    width: 560px;
    height: 315px;
}

/*Propiedades productos*/

.gallery {
    background: $beige-claro;
  }
  
.gallery-cell {
    width: 28%;
    height: auto;
    margin-right: 10px;
    /*background: #8C8;*/
    counter-increment: gallery-cell;
}
  
  /* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    /*content: counter(gallery-cell);*/
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.distancia {
    margin-bottom: 30px;
}


.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 60%;
    height: auto;
}

.img-gallery {
    @extend .img-thumbnail;
    max-width: 100%;
}

/*Propiedades del pie*/

footer {
    margin-top: 20px;
    text-align: center;
    background-color: $beige-oscuro;
    padding: 8px;
    p {
        margin-top: 10px;
    color: $beige-claro;
    }
    img {
        width: 45px;
    }
}

/*MEDIA QUERIEs*/

/* Desktop */
@media (min-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 1023px) {
    body {
        width: 100%;
        height: 100vh;
    }
    .logo {
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 20%;
    }
    h1 {
        margin-top: -3px;
    }
    iframe {
        width: 400px;
        height: 260px;
    }
}

/* Mobile */
@media (max-width: 575px) {
    .logo {
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 20%;
    }
    body {
        width: 100%;
        height: 100vh;
        grid-template-rows: px auto 10px;
    }
    h1 {
        margin-top: -32px;
    }
    iframe {
        width: 300px;
        height: 200px;
    }
}